node-red/flow.json
[{"id":"c6b14d9b.8d50c","type":"ibmiot in","z":"82e1fea6.c857c","authentication":"apiKey","apiKey":"641b26e7.1f4ba8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"lora1","applicationId":"","deviceType":"lg","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":170,"y":80,"wires":[["951656cc.0477b8","871cefa3.48a76","3af70f93.6ab52","15ead398.87106c"]]},{"id":"c4ab34fd.63dc88","type":"debug","z":"82e1fea6.c857c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":80,"wires":[]},{"id":"4c56ddc9.4078e4","type":"worldmap in","z":"82e1fea6.c857c","name":"Asset Tracking Map","x":170,"y":120,"wires":[["f4a2e4ed.8251c8"]]},{"id":"f4a2e4ed.8251c8","type":"function","z":"82e1fea6.c857c","name":"status","func":"if(msg.payload.action===\"connected\"){\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["15ead398.87106c"]]},{"id":"15ead398.87106c","type":"function","z":"82e1fea6.c857c","name":"wm payload","func":"var obj = JSON.parse(JSON.stringify(msg.payload));\nmsg.payload={\n    lat:JSON.parse(obj).d.lat,\n    lon:JSON.parse(obj).d.lng,\n    name:\"lora1\",\n    icon:\"globe\",\n    url:\"<a href=\\\"http://github.com/hovig\\\">Hovig IBM</a>\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["c2ad8ca9.7136c","f0095ccd.593c5"]]},{"id":"da6219d.cad2fe8","type":"inject","z":"82e1fea6.c857c","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["49db9215.cd9ecc"]]},{"id":"49db9215.cd9ecc","type":"template","z":"82e1fea6.c857c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=600px; width=600px;></iframe>","output":"str","x":340,"y":200,"wires":[["d108432c.15d1a"]]},{"id":"40a45e42.9d928","type":"ui_chart","z":"82e1fea6.c857c","name":"","group":"beb6f567.4f1948","order":2,"width":0,"height":0,"label":"Motion Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":80,"wires":[["c4ab34fd.63dc88"],[]]},{"id":"951656cc.0477b8","type":"function","z":"82e1fea6.c857c","name":"Speed ","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.d.spd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["40a45e42.9d928","b8f008ae.e99da8"]]},{"id":"b8f008ae.e99da8","type":"ui_gauge","z":"82e1fea6.c857c","name":"Motion","group":"beb6f567.4f1948","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":80,"wires":[]},{"id":"e38590b8.23b6f","type":"trigger","z":"82e1fea6.c857c","op1":"","op2":"","op1type":"nul","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":180,"y":200,"wires":[["3af70f93.6ab52"]]},{"id":"1e348adf.0f9c15","type":"weather_insights","z":"82e1fea6.c857c","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"e","language":"","x":520,"y":200,"wires":[["b64ad9b7.65d138"]]},{"id":"3af70f93.6ab52","type":"function","z":"82e1fea6.c857c","name":"Location based weather","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.d.lat+\",\"+obj.d.lng;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["1e348adf.0f9c15"]]},{"id":"8a66ce3f.94ecd","type":"ui_gauge","z":"82e1fea6.c857c","name":"Temp","group":"feaef2f1.c0818","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°F","format":"{{value}}","min":"-50","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"5a37b0ff.c086a","type":"ui_chart","z":"82e1fea6.c857c","name":"","group":"feaef2f1.c0818","order":2,"width":0,"height":0,"label":"Temp Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":240,"wires":[[],[]]},{"id":"5f1c22d.f4096dc","type":"ui_text","z":"82e1fea6.c857c","group":"58b8e468.d8a08c","order":0,"width":0,"height":0,"name":"Name display","label":"","format":"{{msg.payload}}","layout":"row-center","x":680,"y":120,"wires":[]},{"id":"871cefa3.48a76","type":"function","z":"82e1fea6.c857c","name":"Name","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.d.id;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["5f1c22d.f4096dc"]]},{"id":"268ea3b5.00c52c","type":"inject","z":"82e1fea6.c857c","name":"","topic":"","payload":"{\"lat\":30.4,\"lon\":-97.8,\"name\":\"test\",\"icon\":\"car\",\"url\":\"<a href=\\\"github.com/hovig\\\">IBM link</a>\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":240,"wires":[["3af70f93.6ab52"]]},{"id":"b64ad9b7.65d138","type":"function","z":"82e1fea6.c857c","name":"Temperature","func":"msg.payload = msg.observation.temp;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["5a37b0ff.c086a","8a66ce3f.94ecd"]]},{"id":"c2ad8ca9.7136c","type":"worldmap","z":"82e1fea6.c857c","name":"Asset Tracking Map","lat":"30.4558","lon":"-97.805","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":870,"y":120,"wires":[]},{"id":"d108432c.15d1a","type":"ui_template","z":"82e1fea6.c857c","group":"60e0d12c.ee912","name":"","order":0,"width":"12","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":160,"wires":[[]]},{"id":"f0095ccd.593c5","type":"debug","z":"82e1fea6.c857c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"641b26e7.1f4ba8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"beb6f567.4f1948","type":"ui_group","z":"","name":"Speed","tab":"ac3fd3a7.1228","order":4,"disp":true,"width":"6","collapse":false},{"id":"feaef2f1.c0818","type":"ui_group","z":"","name":"Temperature","tab":"ac3fd3a7.1228","order":5,"disp":true,"width":"6","collapse":false},{"id":"58b8e468.d8a08c","type":"ui_group","z":"","name":"Device ID","tab":"ac3fd3a7.1228","order":2,"disp":true,"width":"12","collapse":false},{"id":"60e0d12c.ee912","type":"ui_group","z":"","name":"Map","tab":"ac3fd3a7.1228","order":3,"disp":true,"width":"12","collapse":false},{"id":"ac3fd3a7.1228","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
